* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: all 0.3s ease-in-out;

    --primary-color: #ff6b81;
    --secondary-color: #ff4757;
    --tertiary-color: #ff4757;
    --black: #0f0f0f;
    --gray: #3f3f3f;
    --white: #fff;
    --gap: 0.5rem
}

body {
    font-family: Arial, sans-serif;
    background-color: #020202;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.nav-wrapper {
    /* border: 1px solid var(--gray); */
    width: fit-content;
    margin: 0 auto;
    border-radius: 500px;
    /* background: linear-gradient(180deg, var(--black), #181818, var(--black)); */
    box-shadow: inset 10px 0 10px black;
    position: relative;

    /* &::after {
        content: '';
        position: absolute;
        display: block;
        inset: -3px;
        background: linear-gradient(180deg, var(--gray), #121212);
        z-index: -1;
        border-radius: 500px;
    } */
}

.nav {
    width: fit-content;
    anchor-name: --nav;
    /* margin: 5px; */

    a {
        position: relative;
        color: white;
        display: inline-block;
        padding: 15px 30px;
        text-decoration: none;

        &::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            opacity: 0.2;
        }

        &.active {
            anchor-name: --active;
            color: black;
        }

        &:hover::before {
            anchor-name: --nav;
        }
    }
}

.bubble {
    background: white;
    top: anchor(top);
    right: anchor(right);
    bottom: anchor(bottom);
    left: anchor(left);
    position: absolute;
    transition: all 0.2s;
    border-radius: 500px;

    &.active {
        background: linear-gradient(0deg, #f2f2f2, #b3b3b3);
        box-shadow: inset 0 2px 4px #fff;
        position-anchor: --active;
    }

    &.hover {
        background: linear-gradient(180deg, var(--gray), #212121);
        box-shadow: inset 0 2px 4px #ffffff30;
        position-anchor: --nav;
    }
}